<% provide(:title, @user.name) %>

<div class="row">
  <h1>プロフィール</h1>
  <div class="col-md-8 col-md-offset-2">
    <table class="table table-bordered" id="task-show-header">
      <tbody>
        <tr>
          <th class="col-md-3">ID</th>
          <td><%= @user.id %></td>
        </tr>
        <tr>
          <th>名前</th>
          <td><%= @user.name %></td>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <td><%= @user.email %></td>
        </tr>
        <tr>
          <th>作成日</th>
          <td><%= @user.created_at %></td>
        </tr>
      </tbody>
    </table>
</div>

